.products-table__row {
  border-radius: 10px;
  text-align: center;
  border-spacing: 0;
  background: #545353;

  &:hover {
    background: #8b8989;
  }

  &:last-child {
    padding-bottom: 2px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  &__data {
    border-bottom: 1px solid #fff;

    &:last-child {
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }

    &--bold {
      cursor: pointer;
      font-weight: 700;
    }
  }

  &__img {
    width: 40px;
    height: 40px;
    transition: all 500ms linear;

    &>img {
      border-radius: 50%;
    }

    &:active {
      transform: scale(6) translateX(20px) translateY(20px);
    }
  }

  &__actions {
    border-bottom: 1px solid #fff;
    text-align: center;
    padding: 5px;

    &--space {
      height: 24px;
      width: 24px;

      &:not(:first-child) {
        margin-left: 10px;
      }

    }
  }
}