.products-table__row {
  border-radius: 10px;
  text-align: center;
  border-spacing: 0;
  background: white;
  color: #A5A6A0;

  &>td {
    transition: .4s;

    &>span {
      width: 80%;

      &::after {
        display: block;
        content: "";
        transition: .4s;
        height: 2px;
        width: 0%;
        margin: auto;
        background-color: #00B6B4;
      }
    }
  }

  &:hover {
    background: #F7FCFF;

    &>td {
      &:not(.products-table__row__data--bold) {
        color: #707070;
      }

      &.products-table__row__data--bold span::after {
        width: 80%;
      }
    }
  }

  &:last-child {
    padding-bottom: 2px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  &__data {
    border-bottom: 1px solid #E8E8E8;

    &:last-child {
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }

    &--bold {
      cursor: pointer;
      font-weight: 700;
      color: #00B6B4;
    }

    &--monochrome {
      font-size: 12px;
    }
  }

  &__img {
    width: 40px;
    height: 40px;
    transition: transform 500ms linear, opacity 400ms ease;

    &:active {
      transform: scale(8);
      opacity: 0.2;
    }

    &>img {
      border-radius: 50%;
    }
  }

  &__actions {
    border-bottom: 1px solid #E8E8E8;
    text-align: center;
    padding: 5px;

    &--space {
      height: 24px;
      width: 24px;
      padding-bottom: 3px;
      border-bottom: 4px solid transparent;
      transition: 0.4s;
      cursor: pointer;

      &:hover {
        border-bottom: 0px solid transparent;
      }

      &:not(:first-child) {
        margin-left: 10px;
      }

    }
  }
}