.products-table {
  position: relative;
  border: 1px solid #fff;
  border-radius: 10px;
  border-spacing: 0;

  &__head {
    position: -webkit-sticky;
    position: sticky;
    z-index: 1;
    top: 60px;
    padding: 5px;
    border: none;
    border-radius: 10px;
    border-spacing: 2px;
    box-shadow: 0 4px 5px -1px lightgray;
  }

  &__body {
    border-radius: 10px;
  }

  &__header {
    position: relative;
    background: white;
    border: 0.5px solid #fff;
    border-spacing: 1px;
    color: #707070;
    padding: 10px 5px;
    vertical-align: initial;

    &--small {
      width: 10%;
    }

    &--medium {
      width: 30%;
    }

    &:first-child {
      border-top-left-radius: 10px;
    }

    &:last-child {
      border-top-right-radius: 10px;
    }
  }
}