.products {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;

  &__table {
    border: 1px solid #E8E8E8;
  }

  &__search {
    z-index: 2;
    position: -webkit-sticky;
    position: sticky;
    top: 6px;
    width: 40%;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  &__container-add {
    position: fixed;
    bottom: 25px;
    right: 25px;
  }

  &__add {
    padding: 2px;
    border-radius: 40px;
    width: 50px;
    height: 50px;
    background-color: white;
    border: 2px solid white;
    background-image: linear-gradient(-30deg, #00C0BE 0%, #006C86 51%, #00C0BE 100%);

    & img {
      transition: 1s ease-in-out;
      opacity: 0.8;

      &:hover {
        transform: rotate(360deg);
      }
    }
  }

  &__add-modal {
    position: fixed;
    overflow-y: auto;
    display: flex;
    border: 2px solid #00C0BE;
    flex-direction: column;
    gap: 40px;
    background: white;
    padding: 9rem 45px 100px 15px;
    width: 200px;
    z-index: 1;
    right: 0;
    top: 0;
    transform: translateX(100%);
    transition: all 0.2s;

    &.active {
      transform: translateX(0);
    }
  }

  &__add-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;
  }

  &__close {
    background: #fff;
    padding: 5px;
    border-radius: 30px;
    width: 24px;
    height: 24px;
  }
}

.form {
  &__fields {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__buttons {
    display: flex;
    gap: 20px;
  }

  &__button {
    font-weight: 500;
    border: none;
    line-height: 32px;
    text-transform: uppercase;
    text-align: center;
    border-radius: 20px;
    width: 100%;
  }
}