.table-header {
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;

    &--control {
      display: flex;
      justify-content: center;
      width: 100%;

      &--sort {
        display: flex;
        flex-direction: row;
      }
    }
  }

  &__img {
    cursor: pointer;
    vertical-align: baseline;
    margin-left: 1px;
    padding: 2px 2px;
    width: 16px;
    height: 16px;
  }

  &__apply {
    cursor: pointer;
    background-color: #fff;
    border: none;
    border-radius: 3px;
  }

  &__btn {
    background: none;
    border: none;
    padding: 0;
  }

  &__filters {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 6px;
    padding: 10px;
    z-index: 1;
    border-top: 1px solid #fff;

    &-btn {
      display: flex;
      justify-content: space-between;
      margin: 0;
    }
  }

  &__title {
    font-size: 14px;
    color: #707070;
    margin: 0;
  }

  &__active {
    background-position-y: center;
    background-color: lightgray;
    border-radius: 50%;
  }
}

