.table-header {
  &__img {
    cursor: pointer;
    vertical-align: baseline;
    margin-left: 5px;
    padding: 5px 0 0;
    width: 16px;
    height: 16px;
  }

  &__apply {
    cursor: pointer;
    background-color: #fff;
    border: none;
    border-radius: 3px;
  }

  &__btn {
    background: none;
    border: none;
    padding: 0;
  }

  &__filters {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 5px;
    padding: 10px;
    z-index: 1;
    border-top: 1px solid #fff;

    &-btn {
      display: flex;
      justify-content: space-between;
      margin: 0;
    }
  }

  &__title {
    font-size: 14px;
    color: #fff;
    margin: 0;
  }

  &__input {
    width: 20px;

    &--large {
      width: 60px;
    }
  }
}

.active {
  background-position-y: center;
  background-color: #fff;
  border-radius: 2px;
}