.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  padding: 5px 8%;
  background: #006C86;
  background-image: linear-gradient(to right, #006C86 0%, #00C0BE 100%);
  box-shadow: 0 4px 5px -2px lightgray;
  z-index: 2;

  &__left-side-container {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    transition: 0.7s ease-in-out;

    &:hover>.header__image {
      transform: rotate(360deg);
    }
  }

  &__right-side-container {
    display: flex;
    gap: 10px;
  }

  &__title {
    color: #fff;
    font-size: 20px;
  }

  &__image {
    padding: 10px;
    background-color: #fff;
    border-radius: 40px;
    width: 24px;
    height: 24px;
    transition: 0.7s ease-in-out;

    &:hover>.header__image {
      transform: rotate(360deg);
    }
  }
}