.header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  padding: 5px 70px;
  background: #000;
  opacity: 90%;
  z-index: 2;

  &__left-side-container {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }

  &__right-side-container {
    display: flex;
    gap: 10px;
  }

  &__title {
    color: #fff;
    font-size: 20px;
  }

  &__image {
    padding: 10px;
    background-color: #fff;
    border-radius: 40px;
    width: 30px;
    height: 30px;
  }
}