.root-layout {
  position: relative;
  background: rgb(100, 100, 100);
  height: 100%;

  &__main {
    color: #fff;
    background: rgb(100, 100, 100);
    padding: 0px 10% 60px;
    margin-bottom: 150px;
  }
}
