.message {
  position: fixed;
  bottom: 20px;
  left: 20px;
  background: #67b36c;
  border: 1px solid #e2e2e2;
  border-radius: 4px;
  padding: 10px;
  display: flex;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  opacity: 0;
  transform: translateY(100%);
  transition: opacity 1s, transform 1s;

  &.show {
    opacity: 1;
    transform: translateY(0);
  }

  .message-content {
    flex: 1;
    color: #fff;
  }

  .message-close {
    background: transparent;
    border: none;
    color: #888;
    cursor: pointer;
    font-size: 14px;
    margin-left: 10px;
  }
}
